
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Quizz</title>

</head>
<body class="bg-red-950">

    <header>
        <h1 class="text-center text-white front-semibold bg-zinc-700 p-7 text-4xl">  Quel type de spacemarine est tu?</h1>
    </header>
    
    
    <main>
        <h1 class="text-center text-white front-semibold bg-zinc-700 p-7 text-3xl" > {{questions}} </h1>
        <div class="flex justify-center front-semibold p-8 bg-red-700 text-2xl">
        <ul>
            <li><a href="/reponses/0"> {{reponses[0]}}</a></li><br>
            <li><a href="/reponses/1"> {{reponses[1]}}</a></li><br>
            <li><a href="/reponses/2"> {{reponses[2]}}</a></li><br>
            <li><a href="/reponses/3"> {{reponses[3]}}</a></li><br>
        </ul>
        </div>
  
    </main>

    <footer>

    </footer>

</body>
</html>