<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Quizz</title>

</head>
<body>

    <header>
        <h1 class="text-center text-white front-semibold bg-zinc-700 p-7 text-2xl">  Quel type de spacemarine est tu?</h1>
    </header>
    <div class="flex justify-stretch "><img src="static/SM1.jpg" width="500">    <img src="static/Space-Marine-2-Operations-Team-Minoris-7-500x625.webp" width="500">  <img src="static/500px-BlackTemplars.jpg" width="500"></div>
        
    
    <main>
        <h1 class="text-center text-white front-semibold bg-zinc-700 p-7 text-2xl" > Tu est donc un {{vainqueur}}! </h1>
        <div class="flex justify-center pt-6">
       <img src="static\{{vainqueur}}.jpg" width="500">
       
            <a href="/" class="text-2xl p-8 bg-zinc-700 rounded-lg shadow-lg"> GO! </a>
      </div>
    </main>

    <footer>

    </footer>

</body>
</html>